extends layout

block content
  h1 Members Area
  p Welcome to the members areas
  table
    tr
      th Name
      th Username
      th Progress
    each user in users
      tr
        td 
          = user.name
        td 
          = user.username
        td 
          = user.progress.tier1.ydkjs.upAndGoing.chp1.started
